<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sf.mapper.ArticleMapper">

    <select id="findPage" resultType="com.sf.entity.Article">

        select article.*,tb_user.nickname as username
        from article
        left join tb_user
        on article.user_id = tb_user.id
        <where>
            <if test="name!=null and name!=''">
                and name like concat('%',#{name},'%')
            </if>
        </where>
    </select>
</mapper>
