<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sf.mapper.CommentMapper">
    <resultMap id="pageUser" type="com.sf.entity.dto.CommentDto">
        <result column="id" property="id"/>
        <result column="userId" property="userId"/>
        <result column="content" property="content"/>
        <result column="time" property="time"/>
        <result column="articleId" property="articleId"/>
        <result column="nickname" property="nickname"/>

    </resultMap>

    <select id="findCommentDetail" resultType="com.sf.entity.Comment">
        select c.*, u.nickname, u.avatar_url
        from tb_comment as c
                 left join tb_user as u
                           on c.user_id = u.id
        where c.article_id = #{articleId}
          and deleted = 0
        order by c.id desc
    </select>

    <select id="selectUserComment" resultType="com.sf.entity.Comment">
        select c.*, u.nickname, u.avatar_url
        from tb_comment as c
                 left join tb_user as u
                           on c.user_id = u.id
        where c.user_id = #{currentUserId}
          and deleted = 0
        order by c.id desc
    </select>

    <select id="findPage" resultType="com.sf.entity.dto.CommentDto">
        select c.id,c.user_id,u.nickname,c.content,c.time,c.article_id
        from tb_comment as c
        left join tb_user as u
        on c.user_id = u.id
        left join tb_article as t
        on c.article_id = t.id
        <where>
            <if test="content!=null and content!=''">
                and c.content like concat('%',#{content},'%')
            </if>
        </where>
        and c.deleted = 0
        order by c.id desc
    </select>
</mapper>
